.cart-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    background-color: lightgray;
    width: 750px;
}

.cart-line-item {
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.cart-order {
    display: table-cell;
}

.cart-cost {
    margin: 0px;
    font-size: 10px;
    color: green;
}

.cart-title {
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}

.rfc-btn {
    margin-top: 5px;
    font-size: 10px;
}

.cart-total-price {
    color:black;
}

.total-desc {
    font-size: 16px;
}

.total-val {
    font-size: 14px;
    color: green;
}